//* Popup

@media (max-height: 599.98px) {
   .popup_wrapper {
      overflow-y: scroll;
      //   border-top-right-radius: 0 !important;
      //   border-bottom-right-radius: 0 !important;
      &::-webkit-scrollbar {
         display: none;
         background: #43708f;
         width: 3px !important;
         max-width: 3px !important;
         min-width: 3px !important;
      }
      &::-webkit-scrollbar-button {
         display: none;
      }
      &::-webkit-scrollbar-track {
         display: none;
         background: #43708f;
      }
      &::-webkit-scrollbar-thumb {
         display: none;
         width: 100%;
         background: #fff;
         border-radius: 60px;
      }
      height: 90% !important;
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
   .popup_wrapper {
      max-width: 85%;
      padding-left: 20px !important;
      padding-right: 20px !important;
      p {
         flex-direction: column;
         padding-left: 0 !important;
         input {
            width: 170px !important;
            text-align: center !important;
            margin: auto;
         }
      }
      .choose_img {
         display: initial !important;
      }
      form {
         margin-top: 20px;
         input {
            width: 100%;
         }
      }

      .li_price {
         margin-bottom: 20px;
      }
      .form_value {
         width: 50px !important;
         height: 50px !important;
         padding: 9px;
         text-align: center;
         margin-top: 0 !important;
         position: initial !important;
         &:focus {
            &::placeholder {
               text-align: center !important;
            }
         }
         &::placeholder {
            text-align: center !important;
            color: black;
         }
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .popup_wrapper {
      max-width: 450px;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .popup_wrapper {
      max-width: 450px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .popup_wrapper {
      max-width: 450px;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .popup_wrapper {
      max-width: 450px;
   }
}

@media (min-width: 1400px) {
   .popup_wrapper {
      max-width: 450px;
   }
}

//* Menu_ bodyHide
@media (max-width: 767.98px) {
   .mainHeader_active {
      overflow: hidden;
   }
   .footer {
      p {
         font-size: 16px !important;
         line-height: 19px !important;
      }
   }
}

// Header

@media (min-width: 320px) and (max-width: 575.98px) {
   .third .subtitle_container {
      position: relative;
      margin-bottom: 0px !important;
   }
   .body_hiden {
      display: none !important;
   }
   .main_header_wrapper {
      nav {
         padding-top: 42px;
      }
   }
   .logo {
      position: relative;
      z-index: 1000;
   }
   .desktop_links,
   .desktop_messengers {
      display: none !important;
   }
   .examples {
      display: flex !important;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .third .subtitle_container {
      position: relative;
      margin-bottom: 0px !important;
   }
   .sphere_desktop {
      display: inline-block !important;
      /* margin: 0 auto; */
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: inherit;
      position: relative;
      z-index: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-42%, -57%);
      transform: translate(-50%, -15%);
   }
   .body_hiden {
      display: none !important;
   }
   .main_header_wrapper {
      nav {
         padding-top: 42px;
      }
   }
   .logo {
      position: relative;
      z-index: 1000;
   }
   .desktop_links,
   .desktop_messengers {
      display: none !important;
   }
   .examples {
      display: flex !important;
   }
}
@media (min-width: 768px) {
   .sphere_desktop {
      display: inline-block !important;
   }
   .menu_wrapper {
      display: none !important;
      * {
         display: none !important;
      }
   }
}
@media (max-height: 523.98px) {
   .menu_wrapper .links {
      margin-top: 60px !important;
   }
   .menu_active img {
      margin: 70px auto 43px !important;
   }
}
@media (min-height: 524px) and (max-height: 649.98px) {
   .menu_wrapper .links {
      margin-top: 160px !important;
   }
   .menu_active img {
      margin: 30px auto 43px !important;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .sphere_desktop {
      display: inline-block !important;
      /* margin: 0 auto; */
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: inherit;
      position: relative;
      z-index: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-42%, -57%);
      transform: translate(-50%, -50%);
   }
   .desktop_nav {
      padding-top: 52px;
      padding-bottom: 283px;
   }
   .news {
      .desktop_nav {
         padding-bottom: 200px;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .sphere_desktop {
      display: inline-block !important;
      /* margin: 0 auto; */
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: inherit;
      position: relative;
      z-index: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-42%, -57%);
      transform: translate(-50%, -50%);
   }
   .desktop_nav {
      padding-top: 52px;
      padding-bottom: 283px;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .sphere_desktop {
      display: inline-block !important;
      /* margin: 0 auto; */
      width: fit-content;
      position: relative;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-42%, -57%);
   }
   .desktop_nav {
      padding-top: 52px;
      padding-bottom: 283px;
   }
}

@media (min-width: 1400px) {
   .sphere_desktop {
      display: inline-block !important;
      /* margin: 0 auto; */
      width: fit-content;
      position: relative;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-15%, -57%);
   }
   .desktop_nav {
      padding-top: 52px;
      padding-bottom: 283px;
   }
}

@media (min-width: 320px) and (max-width: 575.98px) {
   body {
      background: url(../img/Mobile_bg/mobile_bg.jpg) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
   }
   .info {
      text-align: center !important;
      h1 {
         font-size: 30px !important;
         line-height: 50px !important;
      }
      span {
         font-size: 20px !important;
         line-height: 0px !important;
         letter-spacing: 0.02em !important;
      }
      .before_paragraph {
         font-family: "Strong", sans-serif;
         font-weight: 400;
         font-size: 16px !important;
         line-height: 22px !important;
         letter-spacing: 0.02em !important;
         display: flex;
         flex-direction: column;
         gap: 20px !important;
         margin-top: 30px !important;
         margin-bottom: 35px !important;
         &::before {
            width: 90px !important;
            height: 5px !important;
         }
      }
      .btns {
         justify-content: center !important;
         flex-direction: column;
         gap: 15px !important;
      }
      .info_wrapper {
         max-width: initial !important;
         margin-top: 85px;
      }
   }

   .title {
      font-size: 32px !important;
      padding-bottom: 30px !important;
      text-align: center;
   }
   .about_wrapper {
      li {
         font-size: 16px !important;
      }
   }
   .third {
      .container {
         padding: 0 !important;
      }
      li {
         padding: 0 15px !important;
      }
      .desktop_title_border {
         display: none !important;
      }
      .mobile_title_border {
         display: block !important;
         width: 100%;
         margin-bottom: 50px;
      }
      .mobile_glass_ball {
         display: block !important;
         width: 100%;
         margin-top: -40%;
      }
      .third_wrapper {
         .title {
            //  font-size: 19px !important;
            //  padding-top: 23px !important;
            display: none !important;
         }
      }

      .third_subtitle {
         font-size: 15px !important;
      }
      li {
         font-size: 14px !important;
      }
      .last_li {
         margin-top: -24%;
      }
   }
   .about {
      padding-bottom: 30px !important;
   }

   .why {
      margin-top: 10%;
      .why_wrapper {
         .mobile_padding {
            padding-right: 15px;
         }
      }
      .title {
         font-size: 23px !important;
         line-height: 35px !important;
         padding-bottom: 0 !important;
      }
      .container {
         padding: 30px 0px 30px 15px !important;
      }

      .btn {
         width: 100% !important;
         img {
            width: 100%;
         }
         p {
            font-size: 14px !important;
            letter-spacing: 1px !important;
            line-height: 15px !important;
         }
      }

      .desktop_line {
         display: none !important;
      }
      .mobile_line {
         display: inline-block !important;
      }
   }
   .head {
      max-width: 255px;
      img {
         top: 1% !important;
         right: -1% !important;
         transform: translate(32%, -5%) !important;
      }
      .head_info {
         .text {
            font-size: 16px !important;
            line-height: 25px !important;
         }
      }
   }

   .btns {
      .btn {
         .btn_text {
            font-family: "Strong", sans-serif !important;
            font-weight: 400 !important;
            font-size: 20px !important;
            line-height: 24px !important;
         }
      }
   }
   .why_button {
      margin: 0 15px 0 auto !important;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .third ul {
      margin-top: 50px !important;
   }
   .about {
      padding-bottom: 30px !important;
   }

   .info {
      padding-bottom: 75% !important;
      text-align: center !important;
      h1 {
         font-size: 45px !important;
      }
      span {
         font-size: 25px !important;
         line-height: 25px !important;
      }
      .before_paragraph {
         font-family: "Strong", sans-serif;
         font-weight: 400;
         font-size: 22px;
         line-height: 30px;
         letter-spacing: 0.05em;
         display: flex;
         flex-direction: column;
         gap: 20px !important;
         margin-top: 40px !important;
         margin-bottom: 35px !important;
         &::before {
            width: 90px !important;
            height: 5px !important;
         }
      }
      .btns {
         justify-content: center !important;
      }
      .info_wrapper {
         max-width: initial !important;
         margin-top: 85px;
      }
   }
   .title {
      padding-bottom: 30px !important;
      text-align: center;
   }
   .about_wrapper {
      li {
         font-size: 16px !important;
      }
   }
   .third {
      .third_wrapper {
         .title {
            font-size: 29px !important;
            padding-top: 23px !important;
         }
      }

      .third_subtitle {
         font-size: 18px !important;
      }
      li {
         font-size: 16px !important;
      }
   }
   .why {
      margin-top: -14%;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .third_wrapper {
      .title {
         font-size: 38px !important;
         padding-top: 49px !important;
      }
   }
   .why {
      margin-top: -44%;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .why {
      margin-top: -44%;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .why {
      margin-top: -440px;
   }
}

@media (min-width: 1400px) {
   .why {
      margin-top: -440px;
   }
}

// Регулировка padding-bottom на мобилках под фон

@media (min-width: 320px) and (max-width: 374.98px) {
   .info {
      padding-bottom: 75% !important;
   }
}

@media (min-width: 450px) and (max-width: 520.98px) {
   .info {
      padding-bottom: 130% !important;
   }
}

@media (min-width: 521px) and (max-width: 575.98px) {
   .info {
      padding-bottom: 130% !important;
   }
}

@media (max-width: 899.98px) {
   .balance_wrapper {
      overflow-x: scroll !important;
      &::-webkit-scrollbar {
         z-index: 999999999999999999999999999999999999 !important;
         background: rgba(217, 217, 217, 0.28);
         border-radius: 8px;
         transition: 0.5s;
         width: auto;
         height: 31px;
      }
      &::-webkit-scrollbar-track {
         z-index: 999999999999999999999999999999999999 !important;
         transition: 0.5s;
      }
      &::-webkit-scrollbar-thumb {
         z-index: 999999999999999999999999999999999999 !important;
         background: radial-gradient(
            65.2% 65.2% at 60% 34.8%,
            #00ad8e 0.93%,
            #007a64 100%
         );
         width: auto !important;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         border-radius: 8px;
         cursor: pointer !important;
      }
      &::-webkit-scrollbar-button {
         display: none;
      }
   }
}
// Слайдер из таблиц на мобилках ( до 992px )
@media (min-width: 992px) {
   .table_slider {
      display: none !important;
   }
   .table_active {
      display: block !important;
      background: rgba(0, 0, 0, 1);
      width: 100% !important;
      height: 101% !important;
      z-index: 11;
      img {
         width: fit-content !important;
         height: auto !important;
         max-width: 80% !important;
         max-height: 95% !important;
         min-width: 38% !important;
         min-height: 95% !important;
         z-index: 12;
      }
   }
}
@media (min-width: 576px) {
   .slick_mobile_arrow {
      display: none !important;
   }
   .plan-slider {
      display: none !important;
   }
}
@media (max-width: 575.98px) {
   .roadmap {
      margin-top: 65px;
   }
   .why_wrapper {
      .why_button {
         //  padding: 0 30px !important;
         //  margin-bottom: 20px !important;
         .btn_gragient {
            // padding: 7px 10px !important;
            font-size: 13px !important;
         }
      }
   }
   .plan-slider {
      .slick-slide {
         margin-right: 25px !important;
      }
      .slick-dots {
         bottom: -45px;
         .slick-active {
            opacity: 1 !important;
         }

         li:nth-child(1) {
            background: url(../img/Mobile_bg/1_.png);
         }
         li:nth-child(2) {
            background: url(../img/Mobile_bg/2_.png);
         }
         li:nth-child(3) {
            background: url(../img/Mobile_bg/3_.png);
         }
         li {
            width: 40px;
            height: 40px;
            opacity: 0.5 !important;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            margin: 0 15px;
            button {
               border: 0;
               display: inline-block;
               height: 100%;
               width: 100%;
               outline: none;
               cursor: pointer;
               padding: 0;
               &::before {
                  display: none !important;
               }
            }
         }
      }
   }
}
@media (max-width: 991.98px) {
   .table_container {
      .slick_planshet_arrow {
         display: none !important;
      }
      .slick_mobile_arrow {
         display: inline-block !important;
         position: absolute;
         top: 58.5%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 55px;
         height: 55px;
         padding: 15px 10px;
         border-radius: 50%;
         background: rgba(8, 95, 95, 1);
      }
      .slick-disabled {
         opacity: 0.4;
      }
      .next {
         left: 63%;
      }
      .prev {
         left: 32%;
      }
   }
   .tables_btn {
      margin: 165px auto 58px !important;
   }
   .balance_wrapper {
      margin-top: 200px !important;
   }
}
@media (max-width: 991.98px) {
   * {
      -moz-user-select: -moz-none !important;
      -o-user-select: none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      user-select: none !important;
   }
   .tables_btn {
      display: none !important;
   }
   .balance_wrapper {
      margin-top: 100px;
   }
   .table {
      display: none !important;
   }
   .table_slider {
      img {
         width: fit-content;
      }
   }
   .who_we,
   .table_wrapper {
      .slick-list {
         overflow-x: scroll;
         &::-webkit-scrollbar {
            z-index: 999999999999999999999999999999999999 !important;
            background: rgba(217, 217, 217, 0.28);
            border-radius: 8px;
            transition: 0.5s;
            width: auto;
            height: 31px;
         }
         &::-webkit-scrollbar-track {
            z-index: 999999999999999999999999999999999999 !important;
            transition: 0.5s;
         }
         &::-webkit-scrollbar-thumb {
            z-index: 999999999999999999999999999999999999 !important;
            background: radial-gradient(
               65.2% 65.2% at 60% 34.8%,
               #00ad8e 0.93%,
               #007a64 100%
            );
            width: auto !important;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            cursor: pointer !important;
         }
         &::-webkit-scrollbar-button {
            display: none;
         }
      }
   }
   .table_wrapper {
      overflow: hidden !important;
      height: fit-content !important;
      padding-right: 0 !important;
      .slick_arrow {
         content: "";
         position: absolute;
         top: 50%;
         left: 14px;
         z-index: 12;
         transform: translate(-50%, -50%);
         img {
            width: 100%;
            width: 16px !important;
            height: 4px !important;
            max-width: 16px !important;
            max-height: 4px !important;
            min-height: 4px !important;
         }
      }
      .slick-slide {
         margin-bottom: 30px;
         border: none;
         position: relative;
         .table_slide_item {
            position: relative;
         }
         .slide_img {
            min-height: 322px;
            max-height: 322px;
            max-width: 987px !important;
            position: inherit;
         }
         .img2022 {
            min-height: 210px !important;
            max-height: 210px !important;
            margin: 75px auto 0;
         }
         .table_slide_item1 {
            .prev {
               top: 68%;
            }
            .next {
               top: 75%;
            }
         }
         .table_slide_item2 {
            .prev {
               top: 68%;
            }
            .next {
               top: 75%;
            }
         }
         .table_slide_item3 {
            .prev {
               top: 68%;
            }
            .next {
               top: 75%;
            }
         }
         .table_slide_item4 {
            .prev {
               top: 68%;
            }
            .next {
               top: 75%;
            }
         }
         .table_slide_item5 {
            .prev {
               top: 69%;
            }
            .next {
               top: 75%;
            }
         }
      }
      .slick-active {
         display: block !important;
      }
      .slick-list {
         min-height: 356px;
      }

      .prev {
         transform: translate(0%, -85px);
      }
      .next {
         transform: translate(0%, -34px);
      }
      .slick-disabled {
         opacity: 0.5;
      }
   }
   .table_container {
      padding-right: 0;
   }
}
@media (max-width: 339.98px) {
   .plan-slider {
      .slick-dots {
         width: 102% !important;
         li {
            margin-top: 20px !important;
         }
      }
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
   .desktopList {
      display: none !important;
   }
   .who_we {
      margin-bottom: 130px;
   }
   .table_wrapper {
      .slick-list {
         min-height: 303px !important;
      }
      .slide_img {
         min-height: 270px !important;
         max-height: 270px !important;
         max-width: 990px !important;
         position: inherit;
      }

      .img2022 {
         min-height: 210px !important;
         max-height: 210px !important;
         margin: 35px auto 0 !important;
      }
   }
   .why_wrapper {
      h3 {
         br {
            display: none !important;
         }
      }
   }
   .third {
      padding-bottom: 100px !important;
   }
   .who_we_wrapper {
      .title {
         padding-bottom: 0 !important;
         margin-bottom: 0 !important;
      }
   }
   .roadmap_list {
      flex-wrap: wrap;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .who_we {
      margin-bottom: 130px;
   }
   .third {
      padding-bottom: 100px !important;
   }
   .who_we_wrapper {
      .title {
         padding-bottom: 0 !important;
         margin-bottom: 30px !important;
      }
   }
   .table_wrapper {
      .slick-list {
         min-height: 303px !important;
      }
      .slide_img {
         min-height: 270px !important;
         max-height: 270px !important;
         max-width: 990px !important;
         position: inherit;
      }
      .img2022 {
         min-height: 210px !important;
         max-height: 210px !important;
         margin: 35px auto 0 !important;
      }
      .table_slide_item1,
      .table_slide_item2,
      .table_slide_item3,
      .table_slide_item4 {
         .prev {
            top: 68%;
         }
         .next {
            top: 78% !important;
         }
      }
      .table_slide_item5 {
         .prev {
            top: 70% !important;
         }
         .next {
            top: 78% !important;
         }
      }
      .slick_arrow {
         left: 14px !important;
      }
      .prev {
         transform: translate(0%, -75px) !important;
      }
   }
   .roadmap_list {
      flex-wrap: wrap;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .who_we {
      margin-bottom: 155px;
   }
   .table_wrapper .slick-slide {
      margin-bottom: 31px !important;
   }
   .roadmap_list {
      flex-wrap: wrap;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .who_we {
      margin-bottom: 155px;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .who_we {
      margin-bottom: 155px;
   }
}

@media (min-width: 1400px) {
   .who_we {
      margin-bottom: 155px;
   }
}

//? Анимации

@media (min-width: 320px) and (max-width: 575.98px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city,
   .jar {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}

@media (min-width: 1400px) {
   .dron {
      animation: dronAnimate 3s infinite alternate;
   }
   .footer_city {
      animation: footerCity 5s infinite alternate;
   }
   @keyframes footerCity {
      0% {
         opacity: 0.75;
         transform: scale(0.98);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }

   @keyframes dronAnimate {
      0% {
         transform: translate(0, 6%);
      }
      100% {
         transform: translate(0, -1%);
      }
   }
}
@media (max-width: 767.98px) {
   .footer_line_min768 {
      display: none !important;
   }
   .min768 {
      display: none !important;
   }
   .max768 {
      margin-bottom: 36px;
   }
}
@media (min-width: 768px) {
   .footer_line_max768 {
      display: none !important;
   }
   .max768 {
      display: none !important;
   }
}
// Footer

@media (min-width: 320px) and (max-width: 575.98px) {
   .roadmap .container .roadmap_list .roadmap_item::before {
      width: 20px !important;
   }
   .roadmap_wrapper {
      overflow-x: hidden;
   }
   .roadmap {
      .container {
         overflow: hidden !important;
      }
      .footer_city {
         max-width: fit-content !important;
         height: 350px !important;
         margin: -9% auto 0 -45% !important;
      }
   }
   .footerArrowHide {
      display: inline-block !important;
   }
   .roadmap_list {
      margin-top: 60px !important;
      width: 100% !important;
      &::before {
         transform: rotate(90deg) !important;
         width: 683px !important;
         height: 5px !important;
         top: 361px !important;
         left: -332px !important;
      }
   }
   .m-top250 {
      margin-top: 85px !important;
   }
   .roadmap_before_slider {
      top: 23% !important;
   }
   .roadmap_item {
      width: 100% !important;
      justify-content: start !important;
      .roadmap_item_info {
         max-width: 170px !important;
      }
      &::before {
         margin-right: 20px !important;
      }
      .footerArrowHide {
         display: inline-block !important;
         opacity: 0.6;
         pointer-events: none;
      }
      .roadmap_item_container {
         display: flex;
         width: 100%;
         justify-content: space-between;
         align-items: center;
      }
   }

   .roadmap_before_slider_item {
      max-width: 278px !important;
      left: 0% !important;
   }
   .roadmap_before_slider_item6 {
      max-height: 330px !important;
      max-width: max-content !important;
      width: 56% !important;
      left: 22% !important;
      .roadmap_before_slider_item_info {
         padding-top: 0 !important;
      }
   }
   .roadmap_before_slider_item_info_whiteText {
      font-size: 15px !important;
      line-height: 20px !important;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .roadmap {
      .title {
         font-size: 37px !important;
         line-height: 40px !important;
      }
      .container {
         overflow: hidden !important;
      }
      .footer_city {
         max-width: fit-content !important;
         height: 350px !important;
         margin: -9% auto 0 -33% !important;
      }
   }
   .footerArrowHide {
      display: inline-block !important;
   }
   .roadmap_list {
      margin-top: 60px !important;
      &::before {
         transform: rotate(90deg) !important;
         width: 650px !important;
         top: 340px !important;
         left: -315px !important;
      }
   }
   .m-top250 {
      margin-top: 200px !important;
   }
   .roadmap_before_slider {
      top: 27% !important;
   }
   .roadmap_item {
      width: 500px !important;
      justify-content: start !important;
      &::before {
         margin-right: 65px !important;
      }
      .footerArrowHide {
         display: inline-block !important;
         opacity: 0.6;
         pointer-events: none;
      }
   }

   .roadmap_before_slider_item {
      max-width: 460px !important;
      left: -2% !important;
   }
   .roadmap_before_slider_item6 {
      max-height: 355px !important;
      .roadmap_before_slider_item_info {
         padding-top: 0 !important;
      }
   }
   .roadmap_before_slider_item_info_whiteText {
      font-size: 20px !important;
      line-height: 27px !important;
   }
}
@media (min-width: 992px) {
   .rotate_arrow {
      img {
         transform: rotate(-180deg);
      }
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .footerArrowHide {
      display: inline-block !important;
   }
   .roadmap_list {
      margin-top: 175px !important;
      &::before {
         transform: rotate(90deg) !important;
         width: 650px !important;
         top: 340px !important;
         left: -315px !important;
      }
   }
   .m-top250 {
      margin-top: 200px !important;
   }
   .roadmap_before_slider {
      top: 27% !important;
   }
   .roadmap_item {
      width: 500px !important;
      justify-content: start !important;
      &::before {
         margin-right: 65px !important;
      }
      .footerArrowHide {
         display: inline-block !important;
         opacity: 0.6;
         pointer-events: none;
      }
   }
   .roadmap_before_slider_item {
      max-width: 460px !important;
      left: -2% !important;
   }
   .roadmap_before_slider_item6 {
      max-height: 355px !important;
      .roadmap_before_slider_item_info {
         padding-top: 0 !important;
      }
   }
   .roadmap_before_slider_item_info_whiteText {
      font-size: 20px !important;
      line-height: 27px !important;
   }
}
@media (max-width: 991.98px) {
   .roadmap .line {
      margin-top: 75px;
   }
   .roadmap_before_slider {
      width: max-content !important;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .roadmap_list {
      flex-direction: row !important;
      gap: 40px;
      margin-top: 140px;
      &::before {
         width: 89% !important;
         top: 1px !important;
      }
   }
   .roadmap_before_slider {
      top: 46% !important;
   }
   .roadmap_item {
      flex-direction: column;
      width: fit-content !important;
      &::before {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   .roadmap_item_info {
      width: 100% !important;
      .roadmap_item_title {
         font-size: 23px;
         line-height: 8px;
      }
      .roadmap_item_text {
         font-size: 16px;
         line-height: 20px;
      }
      h6,
      p {
         text-align: center !important;
      }
   }
   .roadmap_before_slider_item1 {
      left: 3% !important;
   }
   .roadmap_before_slider_item6 {
      left: 48% !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .roadmap_list {
      flex-direction: row !important;
   }
   .roadmap_item {
      flex-direction: column;
      &::before {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   .max_170px {
      max-width: 170px !important;
   }
   .max_140px {
      max-width: 140px !important;
   }
   .roadmap_item_info {
      h6,
      p {
         text-align: center !important;
      }
   }
}

@media (min-width: 1400px) {
   .roadmap_list {
      flex-direction: row !important;
   }
   .roadmap_item {
      flex-direction: column;
      &::before {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   .max_170px {
      max-width: 170px !important;
   }
   .max_140px {
      max-width: 140px !important;
   }
   .roadmap_item_info {
      h6,
      p {
         text-align: center !important;
      }
   }
}
@media (min-width: 320px) and (max-width: 991.98px) {
   .roadmap_list {
      gap: 50px;
      width: fit-content;
      margin: auto;

      .roadmap_item {
         align-items: center;
         &::before {
            align-self: start !important;
            margin-right: 30px;
         }
         .roadmap_item_text {
            margin: 15px 0 0 0 !important;
         }
         .arrow_down_list {
            width: 60px !important;
            transform: rotate(-90deg);
            margin: 0 0 0 auto !important;
            img {
               max-width: 25px !important;
               margin: 7px auto !important;
            }
         }
      }
   }
}
@media (min-width: 576px) and (max-width: 991.98px) {
   .roadmap_item_container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
   }
}
@media (min-width: 992px) {
   .roadmap_item_container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
}

//! Footer jar
@media (max-width: 1134.98px) {
   .links_footer_wrapper {
      flex-wrap: wrap;
      justify-content: center;
   }
}
@media (min-width: 992px) {
   .max992 {
      display: none !important;
   }
}
@media (max-width: 991.98px) {
   .links_footer_wrapper {
      flex-direction: column;
   }

   .max992 {
      display: block !important;
      margin-bottom: -40px !important;
      padding-bottom: 0 !important;
   }
   .min992 {
      display: none !important;
   }
}

@media (min-width: 320px) and (max-width: 575.98px) {
   .roadmap_wrapper {
      h3 {
         font-size: 28px !important;
         text-align: left !important;
         line-height: 37px !important;
      }
   }
   .max992 {
      margin-bottom: -15px !important;
   }
   .jar {
      width: 100% !important;
      height: auto !important;
   }
   .footer_item_link {
      max-width: min-content !important;
      min-width: 215px !important;
      width: 100% !important;
   }
   .footer_link_text {
      font-size: 13px !important;
      line-height: 19px !important;
   }
   .footer_icon {
      width: 30px !important;
      height: 30px !important;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .jar {
      height: 600px !important;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .jar {
      height: 600px !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .jar {
      width: auto;
      height: 600px;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

//! Page " News "
@media (max-width: 374.98px) {
   .contact {
      .col1 {
         a {
            font-size: 17px !important;
         }
      }
   }
}
@media (min-width: 375px) and (max-width: 424.98px) {
   .contact {
      .col1 {
         a {
            font-size: 20px !important;
         }
      }
   }
}
@media (max-width: 767.98px) {
   .contact {
      .footer_png_wrapper {
         margin-bottom: 22px !important;
      }
   }
   footer {
      padding-bottom: 0 !important;
   }
}
@media (min-width: 768px) {
   .contact {
      .footer_png_wrapper {
         display: none !important;
      }
   }
}
@media (max-width: 419.98px) {
   .partner {
      .h1 {
         font-size: 38px !important;
         span {
            font-size: 38px !important;
         }
      }
      .cards_wrapper_item_title {
         font-size: 21px !important;
      }
      .header_container {
         .info_wrapper {
            margin-top: 44px !important;
         }
         .btns {
            flex-direction: row !important;
            flex-wrap: wrap !important;
            justify-content: center !important;
         }
      }
   }
}
@media (min-width: 420px) and (max-width: 575.98px) {
   .partner {
      .header_container {
         .info_wrapper {
            margin-top: 44px !important;
         }
         .btns {
            flex-direction: row !important;
            flex-wrap: wrap !important;
            justify-content: inherit !important;
         }
      }
      .h1 {
         font-size: 40px !important;
         span {
            font-size: 40px !important;
         }
      }
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
   .news {
      .footer_p {
         margin-top: 13px !important;
      }
      .mobile_footer_mtop {
         margin-top: 65px;
      }
   }
   .news_info {
      margin-top: 35% !important;
      .title {
         font-size: 45px !important;
         text-align: left !important;
      }
      .defolt_P {
         margin-top: 0 !important;
      }
   }
   .link_to_telegram_info {
      flex-direction: column;
      gap: 30px;
      .button {
         min-width: 230px !important;
         min-height: 58px !important;
         p {
            font-size: 20px !important;
            line-height: 24px !important;
         }
      }
      .gradient_and_defolt_text {
         font-size: 15px !important;
         line-height: 30px !important;
      }
   }
   .contact {
      .contact_info {
         flex-wrap: wrap;
      }
      .col1 {
         .contacts {
            gap: 20px !important;
         }
         .email_mobile {
            width: 30px !important;
            height: 23px !important;
         }
         .title {
            margin-bottom: 25px !important;
         }
      }
      .title {
         padding-bottom: 0 !important;
         text-align: left !important;
      }
   }
   .partner {
      .desktop_nav {
         padding-bottom: 0 !important;
      }
      .h1 {
         text-align: left !important;
         line-height: 46px !important;
         span {
            text-transform: uppercase;
            background: linear-gradient(
               92.3deg,
               #00b292 -10.87%,
               #2dffd9 21.75%,
               #54ffe0 60.54%,
               #03776f 130.95%
            ) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
            text-fill-color: transparent !important;
         }
      }
      .btns {
         justify-content: start !important;
      }
      .footer_container {
         background-size: auto 100%;
         padding-top: 70px !important;
         padding-bottom: 0 !important;
         .cards_wrapper {
            gap: 45px;
            flex-wrap: wrap;
            .cards_wrapper_item {
               width: 100%;
               margin: auto;
               img {
                  width: 100% !important;
                  height: auto !important;
               }
               .footer_line_max768 {
                  width: 100% !important;
                  height: auto !important;
                  margin: 17px auto 24px;
               }
               .green_text {
                  margin-top: 0 !important;
               }
               .text {
                  font-size: 16px !important;
                  text-align: center !important;
               }

               .button {
                  p {
                     font-size: 14px !important;
                  }
               }
            }
         }
      }
   }
   .link_to_telegram {
      flex-wrap: wrap;
      p {
         margin: auto auto auto 0 !important;

         span {
            display: block;
            margin-bottom: 10px !important;
         }
      }
      .button {
         margin: auto auto auto 0;
         p {
            text-align: center !important;
            font-size: 16px !important;
         }
      }
   }
   .bot {
      .news_info {
         margin-top: 20% !important;
      }
      .title {
         margin-bottom: 16px !important;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .partner {
      .desktop_nav {
         padding-bottom: 0 !important;
      }
      .h1 {
         text-align: left !important;
         font-size: 40px !important;
         line-height: 46px !important;
         span {
            font-size: 40px !important;
            text-transform: uppercase;
            background: linear-gradient(
               92.3deg,
               #00b292 -10.87%,
               #2dffd9 21.75%,
               #54ffe0 60.54%,
               #03776f 130.95%
            ) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
            text-fill-color: transparent !important;
         }
      }
      .btns {
         justify-content: start !important;
      }
      .footer_container {
         background-size: auto 100%;
         padding-top: 70px !important;
         padding-bottom: 0 !important;
         .cards_wrapper {
            //   gap: 45px;
            flex-wrap: wrap;
            //   margin-top: 100px !important;
            .cards_wrapper_item {
               transform: scale(0.9) !important;

               min-width: 477px;
               margin: auto;
               img {
                  width: 270px !important;
                  height: 270px !important;
               }
               .footer_line_max768 {
                  width: 100% !important;
                  height: auto !important;
                  margin: 17px auto 24px;
               }
               .green_text {
                  margin-top: 0 !important;
               }
               .text {
                  font-size: 19px !important;
                  text-align: center !important;
               }
            }
         }
      }
   }
   .link_to_telegram {
      flex-wrap: wrap;
      margin: auto auto auto 0 !important;

      p {
         span {
            display: block;
            margin-bottom: 10px !important;
         }
      }
      .button {
         margin: auto auto auto 0;
      }
   }
   .news {
      .footer_p {
         margin-top: 13px !important;
      }
      .mobile_footer_mtop {
         margin-top: 65px;
      }
   }
   .news_info {
      margin-top: 20% !important;
      .title {
         font-size: 65px !important;
         text-align: left !important;
      }
   }
   .link_to_telegram_info {
      flex-direction: column;
      gap: 30px;
      .button {
         p {
            font-size: 20px !important;
            line-height: 24px !important;
         }
      }
      .gradient_and_defolt_text {
         font-size: 20px !important;
         line-height: 30px !important;
      }
   }

   .contact {
      .contact_info {
         flex-wrap: wrap;
      }
      .col1 {
         padding-left: 15px;
      }
      .title {
         padding-bottom: 0 !important;
         text-align: left !important;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .partner {
      .h1 {
         font-size: 40px !important;
         line-height: 46px !important;
         span {
            font-size: 40px !important;
            text-transform: uppercase;
            background: linear-gradient(
               92.3deg,
               #00b292 -10.87%,
               #2dffd9 21.75%,
               #54ffe0 60.54%,
               #03776f 130.95%
            ) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
            text-fill-color: transparent !important;
         }
      }
      .footer_container {
         background-size: auto 100%;
         padding-top: 70px !important;
         padding-bottom: 0 !important;
      }
   }
   .link_to_telegram {
      .link_to_telegram_info {
         flex-wrap: wrap;

         gap: 30px !important;
      }
      .gradient_and_defolt_text {
         text-align: left !important;
         min-width: 530px;
         span {
            display: block;
            //    margin-bottom: 25px !important;
         }
      }
      .button {
         margin: auto auto auto 0;
      }
   }
   .cards_wrapper {
      //   gap: 45px;
      flex-wrap: wrap;
      //   margin-top: 100px !important;
      .cards_wrapper_item {
         transform: scale(0.9) !important;

         min-width: 477px;
         margin: auto;
         img {
            width: 270px !important;
            height: 270px !important;
         }
         .text {
            font-size: 19px !important;
         }
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .footer_container {
      background-size: auto 100%;
      padding-top: 70px !important;
      padding-bottom: 0 !important;
   }
   .cards_wrapper {
      // flex-wrap: wrap;
      justify-content: center;
      gap: 35px;
      transform: scale(0.9);

      .cards_wrapper_item {
         min-width: 477px;
         .text {
            font-size: 19px !important;
         }
      }
   }
}
@media (max-width: 1199.98px) {
   .news .top_line {
      display: none;
   }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
   .cards_wrapper_item {
      &:hover {
         transform: scale(1.01);
      }
   }
   .news .top_line {
      position: absolute;
      top: 10% !important;
   }
}

@media (min-width: 1400px) {
   .cards_wrapper_item {
      &:hover {
         transform: scale(1.01);
      }
   }
   .news .top_line {
      position: absolute;
      top: 4% !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
