/* page styles */
.ax-hidden {
   visibility: hidden;
   position: absolute;
}

/* carousel styles */
.carousel {
   --carousel-height: 400px;
   --carousel-width: 1000px;
   --carousel-item-height: 150px;
   --carousel-item-width: 150px;
   width: 100%;
}

.carousel-container {
   align-items: center;
   display: flex;
   min-height: var(--carousel-height);
   margin: 0 auto;
   max-width: var(--carousel-width);
   position: relative;
}

.carousel-item {
   height: calc(var(--carousel-item-height) * 1.5);
   opacity: 0;
   position: absolute;
   transform: translateX(-50%);
   transition: all 0.3s ease-in-out;
   width: calc(var(--carousel-item-width) * 1.4);
   z-index: 0;
   transition: 0.5s !important;
}
.carousel-item-1 {
   left: 8%;
   top: 20%;
   opacity: 0.4;
   transition: 0.5s !important;
}

.carousel-item-2,
.carousel-item-4 {
   height: calc(var(--carousel-item-height) * 1.9);
   opacity: 1;
   width: calc(var(--carousel-item-width) * 1.6);
   z-index: 1;
   opacity: 0.7;
   transition: 0.5s !important;
}
.carousel-item-2 {
   left: 20%;
   top: 13%;
}

.carousel-item-3 {
   height: calc(var(--carousel-item-height) * 2.4);
   opacity: 1;
   left: 50%;
   width: calc(var(--carousel-item-width) * 2);
   z-index: 2;
   transition: 0.5s !important;
}

.carousel-item-4 {
   left: 80%;
   top: 13%;
}

.carousel-item-5 {
   top: 20%;
   left: 91%;
   opacity: 0.4;
   transition: 0.5s !important;
}

.carousel-controls {
   display: flex;
   justify-content: center;
   margin: 45px 0 0;
}

/* carousel button styles */
.carousel-control {
   border: none;
   background: transparent;
   cursor: pointer;
   height: 20px;
   margin: 0 30px;
   position: relative;
   transform: scale(1.5);
   transition: transform 0.5s ease-out;
   width: 55px;
}

.carousel-control:hover {
   transform: scale(1.3);
}
.carousel-control-previous {
   background: url(../img/Slider/arrow_left.svg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.carousel-control-next {
   background: url(../img/Slider/arrow_right.svg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .carousel-item-1 {
      left: 15%;
   }
   .carousel-item-2 {
      left: 30%;
      top: 13%;
   }
   .carousel-item-4 {
      left: 70%;
   }
   .carousel-item-5 {
      left: 85%;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .carousel-item-1 {
      left: 15%;
   }
   .carousel-item-2 {
      left: 30%;
      top: 13%;
   }
   .carousel-item-4 {
      left: 70%;
   }
   .carousel-item-5 {
      left: 85%;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .carousel-item-1,
   .carousel-item-2,
   .carousel-item-4,
   .carousel-item-5 {
      top: 5%;
      height: calc(var(--carousel-item-height) * 2.4);
      /* opacity: 1; */
      left: 50%;
      width: calc(var(--carousel-item-width) * 2);
      transition: 0.5s !important;
   }
   .carousel-controls {
      position: relative;
      z-index: 10;
      margin-top: -75px;
   }
   .carousel-control {
      margin: 0 20px;
      position: relative;
      transform: scale(1);
   }
   .carousel-control:hover {
      transform: scale(1.1);
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
   .carousel-controls {
      position: relative;
      z-index: 10;
      margin-top: -75px;
   }
   .carousel-control {
      margin: 0 20px;
      position: relative;
      transform: scale(1);
   }
   .carousel-control:hover {
      transform: scale(1.1);
   }
   .carousel-item-1,
   .carousel-item-2,
   .carousel-item-4,
   .carousel-item-5 {
      top: 5%;
      height: calc(var(--carousel-item-height) * 2.4);
      opacity: 1;
      left: 50%;
      width: calc(var(--carousel-item-width) * 2);
      transition: 0.5s !important;
   }
}


@media(max-width:767.98px){
    /* .carousel-item{
        opacity: 0;
    }
    .carousel-item1{
        opacity: 1 ;
    } */
}