@import "_media";

// Обнуление стилей

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: sans-serif;
   transition: 0.35s all 0.02s ease-in-out;
}

body {
   background: #081216;
}

button {
   width: 100%;
   max-width: 212px;
   height: 100%;
   max-height: fit-content;
   text-align: center;
   padding: 17px 0 17px;
   margin: 5% auto 0;
   display: block;

   font-size: 20px;
   line-height: 24px;
   align-items: center;
   text-align: center;
   text-transform: capitalize;
   color: #ffffff;

   background: url(../img/Header/svg_borders.svg);
   background-repeat: no-repeat;
   background-size: contain;
   &:hover {
      opacity: 0.8;
   }
   //    -webkit-backdrop-filter: blur(25px);
   //    backdrop-filter: blur(25px);

   //    border-top-left-radius: 8px;
   //    border-bottom-left-radius: 8px;
   //    border-top-right-radius: 8px;
   //    border-bottom-right-radius: 8px;

   //    border: 1px solid #00d4d8;
   //    clip-path: polygon(
   //       0% 16%,
   //       4% 0,
   //       100% 0,
   //       100% 10%,
   //       100% 84%,
   //       96% 100%,
   //       10% 100%,
   //       0% 100%,
   //       0% 10%
   //    );
}
