@import "_media";

// Обнуление стилей

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   transition: 0.35s;
}

body {
   background: url(../img/Header/backg.jpg);
   scroll-behavior: smooth;
   padding-bottom: 60px;
   &::-webkit-scrollbar {
      z-index: 999999999999999999999999999999999999 !important;
      background: #043f4f !important;
      transition: 0.5s;
   }
   &::-webkit-scrollbar-track {
      z-index: 999999999999999999999999999999999999 !important;
      transition: 0.5s;
   }
   &::-webkit-scrollbar-thumb {
      z-index: 999999999999999999999999999999999999 !important;
      background: #03677f !important;
      border-radius: 20px;
      cursor: pointer !important;
   }
   &::-webkit-scrollbar-button {
      display: none;
   }
}

// Preloader

.loaded {
   #preloader {
      display: none;
   }
}
#preloader {
   background: #003442;
   //    background: url(../img/Header/preloader.jpg);
   //    background-size: cover;
   //    background-repeat: no-repeat;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1001;
}
#loader {
   display: block;
   position: relative;
   left: 50%;
   top: 50%;
   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #15d6b3;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}
#loader:before {
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #13b799;
   -webkit-animation: spin 3s linear infinite;
   animation: spin 3s linear infinite;
}
#loader:after {
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #00ffd0;
   -webkit-animation: spin 1.5s linear infinite;
   animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
@keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

// Menu button

.examples {
   max-width: 1200px;
   display: none;
   gap: clamp(2rem, 8vw, 4rem);
   position: relative;
   z-index: 1000;
   right: 0;
}

.btn_menu {
   background: transparent;
   border: none;
}

.button-three {
   --button-color: #00b6b9;
   overflow: hidden;
   path {
      cursor: pointer;
   }
}

.button-three .hamburger {
   transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
   //    translate: 10px -10px;
   rotate: 0.125turn;
}

.button-three .line {
   transition: 1s;
   stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
   stroke-dasharray: 60 105 60 300;
   stroke-dashoffset: -90;
}

// Menu wrapper

.menu_wrapper {
   width: 0px;
   position: fixed;
   z-index: 999;
   right: 0;
   top: 0;
   height: 100vh;
   background: url(../img/Header/mobile_Menu_bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   transition: 0.5s;
   overflow: hidden;
   //    .absolute {
   //       width: 100%;
   //       height: 65px;
   //       background: linear-gradient(
   //          180deg,
   //          rgba(14, 36, 41, 0) 0%,
   //          rgba(0, 17, 21, 0.3016) 76.04%,
   //          rgba(0, 0, 0, 0.3172) 100%
   //       );
   //       backdrop-filter: blur(5px);
   //       position: fixed;
   //       z-index: 1025;
   //    }
   img {
      display: block;
      margin: 170px auto 43px;
      width: 95%;
      height: 4px;
      opacity: 0.7;
   }
   .messengers {
      display: flex;
      justify-content: center;
      opacity: 0.3;
   }
   .links {
      flex-direction: column;
      gap: 34px;
      margin-top: 214px;
      opacity: 0.7;
      a {
         display: inline-block !important;
         background: url(../img/Header/link_bg.png);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         min-width: 170px;
         max-width: fit-content;
         text-align: center;
         padding: 10px 0;
         &::after {
            display: none !important;
         }
      }
   }
}
.menu_active {
   width: 100%;
   padding-bottom: 53px;
   overflow-y: auto !important;
   overflow-x: overlay;
   img {
      margin: 170px auto 43px;
      width: 95%;
      height: 4px;
      display: block !important;
      opacity: 1 !important;
   }
   .messengers {
      position: relative !important;
      z-index: 1001 !important;
      display: flex !important;
      opacity: 1 !important;
   }
   .links {
      position: relative;
      z-index: 1000;
      opacity: 1 !important;
   }
}

.body_hiden {
   display: none !important;
}
.menu_link {
   font {
      padding: 0 15px;
   }
}
.logo {
   cursor: pointer;
}
.container {
   width: 100%;
   max-width: 1169px;
   margin: 0 auto;
   padding: 0 15px;
}
// .main_header {
//    background: url(../img/Header/1_bg.jpg);
//    background-repeat: no-repeat !important;
//    background-size: cover ;
// //    background-position: center;
// }
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   * {
      align-items: center;
      cursor: pointer;
   }
   .links {
      gap: 80px;
      display: flex;
      a {
         position: relative;
         font-family: "Strong", sans-serif;
         font-weight: 400;
         font-size: 18px;
         line-height: 30px;
         text-decoration: none;

         color: #ffffff;
         &::after {
            transition: 0.5s;

            content: "";
            width: 1px;
            height: 2px;
            border-radius: 20px;
            background: #4dffdf;
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: -5px;
         }
         &:hover {
            &::after {
               content: "";
               width: 100%;
               left: 0 !important;
               opacity: 1;
            }
         }
      }
   }
   ul {
      display: flex;
   }
}

.instagram {
   margin-left: 18px;
   margin-right: 12px;
}
.hover_svg {
   &:hover {
      transition: 0.5s;
      opacity: 0.6;
   }
}

.info {
   text-align: left;
   padding-bottom: 446px;
   .info_wrapper {
      max-width: 610px;
   }
   h1 {
      font-family: "Furore", sans-serif;
      font-weight: 400;
      font-size: 75px;
      line-height: 86px;
      text-transform: uppercase;
      color: #ffffff;
   }
   span {
      font-family: "Strong", sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 0.05em;
      text-transform: lowercase;
      background: linear-gradient(
         92.3deg,
         #00b292 -10.87%,
         #2dffd9 21.75%,
         #54ffe0 60.54%,
         #00f0e0 98.95%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
   p {
      font-family: "Strong", sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.05em;
      color: #c7e1e1;
      display: flex;
      align-items: center;
      gap: 17px;
      margin-top: 35px;
      margin-bottom: 60px;
      &::before {
         content: "";
         width: 5px;
         height: 57px;
         background: #fff !important;
         color: #fff !important;
         display: block;
         border-radius: 20px;
      }
   }
   .btns {
      display: flex;
      align-items: center;
      gap: 25px;
      a {
         font-family: "Strong", sans-serif;
         font-size: 16px;
         line-height: 19px;
         text-align: center;
         text-transform: capitalize;
         color: #d6e5e3;
         text-decoration: none;
         transition: 0.35s;
         cursor: pointer;
         &:hover {
            color: #02b9be;
            &::after {
               background: #02b9be;
            }
         }
         &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #d6e5e3;
            margin-top: -2px;
            transition: 0.35s;
         }
      }
   }
}

.transparent_btn {
   border: none;
   position: relative;
   width: 100%;
   max-width: fit-content;

   display: inline-block;
   background: transparent;
   svg {
      width: 100%;
      text {
         font-size: 20px;
         line-height: 24px;
         color: #ffffff;
      }
   }
   &:hover {
      opacity: 0.85;
      transform: scale(1.05);
   }
   * {
      cursor: pointer;
   }
}

.title {
   font-family: "Furore", sans-serif;
   font-weight: 400;
   font-size: 50px;
   line-height: 58px;
   text-transform: uppercase;
   color: #fff;
   span {
      background: linear-gradient(
         92.3deg,
         #00b292 -10.87%,
         #2dffd9 21.75%,
         #54ffe0 60.54%,
         #03776f 98.95%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
}
.about {
   padding-bottom: 80px;
}
.about_wrapper {
   .title {
      padding-bottom: 78px;
   }
   li {
      padding-bottom: 40px;
      font-family: "Strong", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      span {
         background: linear-gradient(
            92.3deg,
            #00b292 -168.87%,
            #2dffd9 44.75%,
            #54ffe0 100.54%,
            #03776f 98.95%
         );
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
      }
   }
}
.mobile_title_border,
.mobile_glass_ball {
   display: none;
}
.third {
   background: url(../img/Header/2_bg.jpg);
   background-size: cover !important;
   background-repeat: no-repeat !important;
   background-position: center !important;
   padding-bottom: 190px;
   .subtitle_container {
      position: relative;
      margin-bottom: 111px;
      img {
         width: 100%;
      }
   }
   .title {
      //   background: url(../img/Header/title_border.png);
      //   background-size: contain;
      //   background-repeat: no-repeat;
      //   width: 960px;
      width: max-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 43px 0 58px;
   }
   ul {
      max-width: 713px;
   }
   .third_subtitle {
      font-family: "Strong", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      background: linear-gradient(
         92.3deg,
         #00b292 -10.87%,
         #2dffd9 21.75%,
         #54ffe0 60.54%,
         #03776f 98.95%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
   li {
      font-family: "Strong", sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      color: #ffffff;
      span {
         background: linear-gradient(
            92.3deg,
            #00b292 -79.87%,
            #2dffd9 21.75%,
            #54ffe0 101.54%,
            #03776f 98.95%
         );
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
      }
   }
   .middle_child {
      margin-top: 30px;
      margin-bottom: 30px;
   }
}
