@media (min-width: 320px) and (max-width: 575.98px) {
  .main_header_wrapper nav {
    padding-top: 42px;
  }
  .logo {
    position: relative;
    z-index: 1000;
  }
  .desktop_links,
.desktop_messengers {
    display: none !important;
  }
  .examples {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main_header_wrapper nav {
    padding-top: 42px;
  }
  .logo {
    position: relative;
    z-index: 1000;
  }
  .desktop_links,
.desktop_messengers {
    display: none !important;
  }
  .examples {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .menu_wrapper {
    display: none !important;
  }
  .menu_wrapper * {
    display: none !important;
  }
}
@media (max-height: 399.98px) {
  .menu_wrapper .links {
    margin-top: 120px !important;
  }
  .menu_active img {
    margin: 70px auto 43px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 1400px) {
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .main_header {
    background: url(../img/Header/mobile_header.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .info {
    text-align: center !important;
  }
  .info h1 {
    font-size: 30px !important;
    line-height: 50px !important;
  }
  .info span {
    font-size: 20px !important;
    line-height: 0px !important;
    letter-spacing: 0.02em !important;
  }
  .info p {
    font-family: "Strong", sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 0.02em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px !important;
    margin-top: 30px !important;
    margin-bottom: 35px !important;
  }
  .info p::before {
    width: 90px !important;
    height: 5px !important;
  }
  .info .btns {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px !important;
  }
  .info .info_wrapper {
    max-width: initial !important;
    margin-top: 85px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .info {
    text-align: center !important;
  }
  .info h1 {
    font-size: 45px !important;
  }
  .info span {
    font-size: 25px !important;
    line-height: 25px !important;
  }
  .info p {
    font-family: "Strong", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px !important;
    margin-top: 40px !important;
    margin-bottom: 35px !important;
  }
  .info p::before {
    width: 90px !important;
    height: 5px !important;
  }
  .info .btns {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .info .info_wrapper {
    max-width: initial !important;
    margin-top: 85px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

body {
  background: #081216;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  z-index: 999999999999999900000000000000000000 !important;
  background: #043f4f !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body::-webkit-scrollbar-track {
  z-index: 999999999999999900000000000000000000 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body::-webkit-scrollbar-thumb {
  z-index: 999999999999999900000000000000000000 !important;
  background: #03677f !important;
  border-radius: 20px;
  cursor: pointer !important;
}
body::-webkit-scrollbar-button {
  display: none;
}

.loaded #preloader {
  display: none;
}

#preloader {
  background: #003442;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #15d6b3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #13b799;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00ffd0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.examples {
  max-width: 1200px;
  display: none;
  gap: clamp(2rem, 8vw, 4rem);
  position: relative;
  z-index: 1000;
  right: 0;
}

.btn_menu {
  background: transparent;
  border: none;
}

.button-three {
  --button-color: #00b6b9;
  overflow: hidden;
}
.button-three path {
  cursor: pointer;
}

.button-three .hamburger {
  -webkit-transition: translate 1s, rotate 1s;
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded=true] .hamburger {
  rotate: 0.125turn;
}

.button-three .line {
  -webkit-transition: 1s;
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.menu_wrapper {
  width: 0px;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  background: url(../img/Header/mobile_Menu_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.menu_wrapper .absolute {
  width: 100%;
  height: 65px;
  background: #08333d;
  position: fixed;
  z-index: 1025;
}
.menu_wrapper img {
  display: block;
  margin: 170px auto 43px;
  width: 95%;
  height: 4px;
  opacity: 0.7;
}
.menu_wrapper .messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
}
.menu_wrapper .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
  margin-top: 214px;
  opacity: 0.7;
}
.menu_wrapper .links a {
  display: inline-block !important;
  background: url(../img/Header/link_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 170px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  padding: 10px 0;
}
.menu_wrapper .links a::after {
  display: none !important;
}

.menu_active {
  width: 100%;
  padding-bottom: 53px;
  overflow-y: scroll !important;
  overflow: overlay;
}
.menu_active img {
  margin: 170px auto 43px;
  width: 95%;
  height: 4px;
  display: block !important;
  opacity: 1 !important;
}
.menu_active .messengers {
  position: relative !important;
  z-index: 1001 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
}
.menu_active .links {
  position: relative;
  z-index: 1000;
  opacity: 1 !important;
}

.body_hiden {
  display: none !important;
}

.menu_link font {
  padding: 0 15px;
}

.logo {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 15px;
}

.main_header {
  background: url(../img/Header/1_bg.jpg);
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav * {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
nav .links {
  gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .links a {
  position: relative;
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
}
nav .links a::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  width: 1px;
  height: 2px;
  border-radius: 20px;
  background: #4dffdf;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -5px;
}
nav .links a:hover::after {
  content: "";
  width: 100%;
  left: 0 !important;
  opacity: 1;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram {
  margin-left: 18px;
  margin-right: 12px;
}

.hover_svg:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}

.info {
  text-align: left;
}
.info .info_wrapper {
  max-width: 610px;
}
.info h1 {
  font-family: "Furore", sans-serif;
  font-weight: 400;
  font-size: 75px;
  line-height: 86px;
  text-transform: uppercase;
  color: #ffffff;
}
.info span {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  background: linear-gradient(92.3deg, #00b292 -10.87%, #2dffd9 21.75%, #54ffe0 60.54%, #00f0e0 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info p {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #c7e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.info p::before {
  content: "";
  width: 5px;
  height: 57px;
  background: #fff;
  display: block;
  border-radius: 20px;
}
.info .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.info .btns a {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #d6e5e3;
  text-decoration: none;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}
.info .btns a:hover {
  color: #02b9be;
}
.info .btns a:hover::after {
  background: #02b9be;
}
.info .btns a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #d6e5e3;
  margin-top: -2px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.transparent_btn {
  border: none;
  position: relative;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: inline-block;
  background: transparent;
}
.transparent_btn svg {
  width: 100%;
}
.transparent_btn svg text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.transparent_btn:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.transparent_btn * {
  cursor: pointer;
}