@media (min-width: 320px) and (max-width: 575.98px) {
  .third .subtitle_container {
    position: relative;
    margin-bottom: 0px !important;
  }
  .body_hiden {
    display: none !important;
  }
  body {
    padding-bottom: 37px !important;
  }
  .main_header_wrapper nav {
    padding-top: 42px;
  }
  .logo {
    position: relative;
    z-index: 1000;
  }
  .desktop_links,
.desktop_messengers {
    display: none !important;
  }
  .examples {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .third .subtitle_container {
    position: relative;
    margin-bottom: 0px !important;
  }
  .sphere_desktop {
    display: inline-block !important;
    /* margin: 0 auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: inherit;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-42%, -57%);
    transform: translate(-50%, -15%);
  }
  .body_hiden {
    display: none !important;
  }
  body {
    padding-bottom: 37px !important;
  }
  .main_header_wrapper nav {
    padding-top: 42px;
  }
  .logo {
    position: relative;
    z-index: 1000;
  }
  .desktop_links,
.desktop_messengers {
    display: none !important;
  }
  .examples {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .sphere_desktop {
    display: inline-block !important;
  }
  .menu_wrapper {
    display: none !important;
  }
  .menu_wrapper * {
    display: none !important;
  }
}
@media (max-height: 523.98px) {
  .menu_wrapper .links {
    margin-top: 60px !important;
  }
  .menu_active img {
    margin: 70px auto 43px !important;
  }
}
@media (min-height: 524px) and (max-height: 649.98px) {
  .menu_wrapper .links {
    margin-top: 160px !important;
  }
  .menu_active img {
    margin: 30px auto 43px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sphere_desktop {
    display: inline-block !important;
    /* margin: 0 auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: inherit;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-42%, -57%);
    transform: translate(-50%, -50%);
  }
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sphere_desktop {
    display: inline-block !important;
    /* margin: 0 auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: inherit;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-42%, -57%);
    transform: translate(-50%, -50%);
  }
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .sphere_desktop {
    display: inline-block !important;
    /* margin: 0 auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-42%, -57%);
            transform: translate(-42%, -57%);
  }
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 1400px) {
  .sphere_desktop {
    display: inline-block !important;
    /* margin: 0 auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-15%, -57%);
            transform: translate(-15%, -57%);
  }
  .desktop_nav {
    padding-top: 52px;
    padding-bottom: 283px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  body {
    background: url(../img/Mobile_bg/mobile_bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .info {
    text-align: center !important;
  }
  .info h1 {
    font-size: 30px !important;
    line-height: 50px !important;
  }
  .info span {
    font-size: 20px !important;
    line-height: 0px !important;
    letter-spacing: 0.02em !important;
  }
  .info .before_paragraph {
    font-family: "Strong", sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 0.02em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px !important;
    margin-top: 30px !important;
    margin-bottom: 35px !important;
  }
  .info .before_paragraph::before {
    width: 90px !important;
    height: 5px !important;
  }
  .info .btns {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px !important;
  }
  .info .info_wrapper {
    max-width: initial !important;
    margin-top: 85px;
  }
  .title {
    font-size: 32px !important;
    padding-bottom: 30px !important;
    text-align: center;
  }
  .about_wrapper li {
    font-size: 16px !important;
  }
  .third .container {
    padding: 0 !important;
  }
  .third li {
    padding: 0 15px !important;
  }
  .third .desktop_title_border {
    display: none !important;
  }
  .third .mobile_title_border {
    display: block !important;
    width: 100%;
    margin-bottom: 50px;
  }
  .third .mobile_glass_ball {
    display: block !important;
    width: 100%;
    margin-top: -40%;
  }
  .third .third_wrapper .title {
    display: none !important;
  }
  .third .third_subtitle {
    font-size: 15px !important;
  }
  .third li {
    font-size: 14px !important;
  }
  .third .last_li {
    margin-top: -24%;
  }
  .about {
    padding-bottom: 30px !important;
  }
  .why {
    margin-top: 10%;
  }
  .why .why_wrapper .mobile_padding {
    padding-right: 15px;
  }
  .why .title {
    font-size: 23px !important;
    line-height: 35px !important;
    padding-bottom: 0 !important;
  }
  .why .container {
    padding: 30px 0px 30px 15px !important;
  }
  .why .btn {
    width: 100% !important;
  }
  .why .btn img {
    width: 100%;
  }
  .why .btn p {
    font-size: 14px !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
  }
  .why .desktop_line {
    display: none !important;
  }
  .why .mobile_line {
    display: inline-block !important;
  }
  .head {
    max-width: 255px;
  }
  .head img {
    top: 1% !important;
    right: -1% !important;
    -webkit-transform: translate(32%, -5%) !important;
            transform: translate(32%, -5%) !important;
  }
  .head .head_info .text {
    font-size: 16px !important;
    line-height: 25px !important;
  }
  .btns .btn .btn_text {
    font-family: "Strong", sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .third ul {
    margin-top: 50px !important;
  }
  .about {
    padding-bottom: 30px !important;
  }
  .info {
    padding-bottom: 75% !important;
    text-align: center !important;
  }
  .info h1 {
    font-size: 45px !important;
  }
  .info span {
    font-size: 25px !important;
    line-height: 25px !important;
  }
  .info .before_paragraph {
    font-family: "Strong", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px !important;
    margin-top: 40px !important;
    margin-bottom: 35px !important;
  }
  .info .before_paragraph::before {
    width: 90px !important;
    height: 5px !important;
  }
  .info .btns {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .info .info_wrapper {
    max-width: initial !important;
    margin-top: 85px;
  }
  .title {
    padding-bottom: 30px !important;
    text-align: center;
  }
  .about_wrapper li {
    font-size: 16px !important;
  }
  .third .third_wrapper .title {
    font-size: 29px !important;
    padding-top: 23px !important;
  }
  .third .third_subtitle {
    font-size: 18px !important;
  }
  .third li {
    font-size: 16px !important;
  }
  .why {
    margin-top: -14%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .third_wrapper .title {
    font-size: 38px !important;
    padding-top: 49px !important;
  }
  .why {
    margin-top: -44%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .why {
    margin-top: -44%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .why {
    margin-top: -440px;
  }
}
@media (min-width: 1400px) {
  .why {
    margin-top: -440px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .info {
    padding-bottom: 75% !important;
  }
}
@media (min-width: 450px) and (max-width: 520.98px) {
  .info {
    padding-bottom: 130% !important;
  }
}
@media (min-width: 521px) and (max-width: 575.98px) {
  .info {
    padding-bottom: 130% !important;
  }
}
@media (max-width: 899.98px) {
  .balance_wrapper {
    overflow-x: scroll !important;
  }
  .balance_wrapper::-webkit-scrollbar {
    z-index: 999999999999999900000000000000000000 !important;
    background: rgba(217, 217, 217, 0.28);
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: auto;
    height: 31px;
  }
  .balance_wrapper::-webkit-scrollbar-track {
    z-index: 999999999999999900000000000000000000 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .balance_wrapper::-webkit-scrollbar-thumb {
    z-index: 999999999999999900000000000000000000 !important;
    background: radial-gradient(65.2% 65.2% at 60% 34.8%, #00ad8e 0.93%, #007a64 100%);
    width: auto !important;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer !important;
  }
  .balance_wrapper::-webkit-scrollbar-button {
    display: none;
  }
}
@media (min-width: 992px) {
  .table_slider {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .slick_mobile_arrow {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .why_wrapper .why_button .btn_gragient {
    font-size: 13px !important;
  }
  .table_container .slick_planshet_arrow {
    display: none !important;
  }
  .table_container .slick_mobile_arrow {
    display: inline-block !important;
    position: absolute;
    top: 55.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    padding: 15px 10px;
    border-radius: 50%;
    background: rgb(8, 95, 95);
  }
  .table_container .slick-disabled {
    opacity: 0.4;
  }
  .table_container .next {
    left: 63%;
  }
  .table_container .prev {
    left: 32%;
  }
  .tables_btn {
    margin: 165px auto 58px !important;
  }
}
@media (max-width: 991.98px) {
  .table {
    display: none !important;
  }
  .table_slider img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .slick-list {
    overflow-x: scroll;
  }
  .slick-list::-webkit-scrollbar {
    z-index: 999999999999999900000000000000000000 !important;
    background: rgba(217, 217, 217, 0.28);
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: auto;
    height: 31px;
  }
  .slick-list::-webkit-scrollbar-track {
    z-index: 999999999999999900000000000000000000 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .slick-list::-webkit-scrollbar-thumb {
    z-index: 999999999999999900000000000000000000 !important;
    background: radial-gradient(65.2% 65.2% at 60% 34.8%, #00ad8e 0.93%, #007a64 100%);
    width: auto !important;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer !important;
  }
  .slick-list::-webkit-scrollbar-button {
    display: none;
  }
  .table_wrapper {
    overflow: hidden !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding-right: 0 !important;
  }
  .table_wrapper .slick_arrow {
    content: "";
    position: absolute;
    top: 50%;
    left: 19px;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .table_wrapper .slick_arrow img {
    width: 100%;
    width: 16px !important;
    height: 4px !important;
    max-width: 16px !important;
    max-height: 4px !important;
    min-height: 4px !important;
  }
  .table_wrapper .slick-slide {
    border: none;
    position: relative;
  }
  .table_wrapper .slick-slide .table_slide_item {
    position: relative;
  }
  .table_wrapper .slick-slide .slide_img {
    min-height: 322px;
    max-height: 322px;
    max-width: 1170px !important;
    position: inherit;
  }
  .table_wrapper .slick-active {
    display: block !important;
  }
  .table_wrapper .slick-list {
    min-height: 356px;
  }
  .table_wrapper .prev {
    -webkit-transform: translate(0%, -85px);
            transform: translate(0%, -85px);
  }
  .table_wrapper .next {
    -webkit-transform: translate(0%, -34px);
            transform: translate(0%, -34px);
  }
  .table_wrapper .slick-disabled {
    opacity: 0.5;
  }
  .table_container {
    padding-right: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

body {
  background: url(../img/Header/1_bg.jpg);
  scroll-behavior: smooth;
  padding-bottom: 60px;
}
body::-webkit-scrollbar {
  z-index: 999999999999999900000000000000000000 !important;
  background: #043f4f !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body::-webkit-scrollbar-track {
  z-index: 999999999999999900000000000000000000 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body::-webkit-scrollbar-thumb {
  z-index: 999999999999999900000000000000000000 !important;
  background: #03677f !important;
  cursor: pointer !important;
}
body::-webkit-scrollbar-button {
  display: none;
}

.loaded #preloader {
  display: none;
}

#preloader {
  background: #003442;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00ffd0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00ffd0;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00ffd0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.examples {
  max-width: 1200px;
  display: none;
  gap: clamp(2rem, 8vw, 4rem);
  position: relative;
  z-index: 1000;
  right: 0;
}

.btn_menu {
  background: transparent;
  border: none;
}

.button-three {
  --button-color: #00b6b9;
  overflow: hidden;
}
.button-three path {
  cursor: pointer;
}

.button-three .hamburger {
  -webkit-transition: translate 1s, rotate 1s;
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded=true] .hamburger {
  rotate: 0.125turn;
}

.button-three .line {
  -webkit-transition: 1s;
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.menu_wrapper {
  width: 0px;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  background: url(../img/Header/mobile_Menu_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.menu_wrapper .menu_line {
  display: block;
  margin: 170px auto 43px;
  width: 95%;
  height: 4px;
  opacity: 0.7;
}
.menu_wrapper .messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
}
.menu_wrapper .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
  margin-top: 214px;
  opacity: 0.7;
}
.menu_wrapper .links a {
  display: inline-block !important;
  background: url(../img/Header/link_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 170px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  padding: 10px 0;
}
.menu_wrapper .links a::after {
  display: none !important;
}

.menu_active {
  width: 100%;
  padding-bottom: 53px;
  overflow-y: auto !important;
  overflow-x: overlay;
}
.menu_active .menu_line {
  margin: 170px auto 43px;
  width: 95%;
  height: 4px;
  display: block !important;
  opacity: 1 !important;
}
.menu_active .messengers {
  position: relative !important;
  z-index: 1001 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
}
.menu_active .links {
  position: relative;
  z-index: 1000;
  opacity: 1 !important;
}

.menu_link font {
  padding: 0 15px;
}

.logo {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav * {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
nav .links {
  gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .links a {
  position: relative;
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
}
nav .links a::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  width: 1px;
  height: 2px;
  border-radius: 20px;
  background: #4dffdf;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -5px;
}
nav .links a:hover::after {
  content: "";
  width: 100%;
  left: 0 !important;
  opacity: 1;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram {
  margin-left: 13px;
  margin-right: 13px;
}

.hover_svg:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}

.info {
  text-align: left;
  padding-bottom: 446px;
}
.info .info_wrapper {
  max-width: 610px;
}
.info h1 {
  font-family: "Furore", sans-serif;
  font-weight: 400;
  font-size: 75px;
  line-height: 86px;
  text-transform: uppercase;
  color: #ffffff;
}
.info span {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  background: linear-gradient(92.3deg, #00b292 -10.87%, #2dffd9 21.75%, #54ffe0 60.54%, #00f0e0 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info .before_paragraph {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #c7e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.info .before_paragraph::before {
  content: "";
  width: 5px;
  height: 57px;
  background: #fff !important;
  color: #fff !important;
  display: block;
  border-radius: 20px;
}
.info .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.info .btns .btn {
  margin: 0;
  width: 300px;
}
.info .btns a {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #d6e5e3;
  text-decoration: none;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}
.info .btns a:hover {
  color: #02b9be;
}
.info .btns a:hover::after {
  background: #02b9be;
}
.info .btns a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #d6e5e3;
  margin-top: -2px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.transparent_btn {
  border: none;
  position: relative;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: inline-block;
  background: transparent;
}
.transparent_btn svg {
  width: 100%;
}
.transparent_btn svg text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.transparent_btn:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.transparent_btn * {
  cursor: pointer;
}

.title {
  font-family: "Furore", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-transform: uppercase;
  color: #fff;
}
.title span {
  background: linear-gradient(92.3deg, #00b292 -10.87%, #2dffd9 21.75%, #54ffe0 60.54%, #03776f 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.about {
  padding-bottom: 80px;
}

.about_wrapper .title {
  padding-bottom: 78px;
}
.about_wrapper li {
  padding-bottom: 40px;
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.about_wrapper li span {
  background: linear-gradient(92.3deg, #00b292 -168.87%, #2dffd9 44.75%, #54ffe0 100.54%, #03776f 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.mobile_title_border,
.mobile_glass_ball {
  display: none;
}

.sphere_desktop {
  display: none;
}

.third {
  padding-bottom: 190px;
}
.third .subtitle_container {
  position: relative;
  margin-bottom: 111px;
}
.third .subtitle_container img {
  width: 100%;
}
.third .third_wrapper .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 43px 0 58px;
}
.third ul {
  max-width: 713px;
  position: relative;
  z-index: 1;
}
.third .third_subtitle {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  background: linear-gradient(92.3deg, #00b292 -10.87%, #2dffd9 21.75%, #54ffe0 60.54%, #03776f 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.third li {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}
.third li span {
  background: linear-gradient(92.3deg, #00b292 -79.87%, #2dffd9 21.75%, #54ffe0 101.54%, #03776f 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.third .middle_child {
  margin-top: 30px;
  margin-bottom: 30px;
}

.why_wrapper .why_button {
  background: url(../img/Header/why_btn.png) !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding: 20px 30px;
  max-width: 550px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  margin: auto;
}
.why_wrapper .why_button .btn_gragient {
  font-family: "Furore", sans-serif;
  background: none;
}
.why_wrapper .btn_gragient {
  width: 100%;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.tables_btn {
  margin: 47px auto 58px;
  max-width: 250px !important;
  font-size: 25px !important;
}

.why .btn {
  margin-bottom: 63px;
}
.why .title {
  text-align: center;
  margin: auto;
}
.why .text {
  margin-top: 74px;
  margin-bottom: 68px;
}
.why .container {
  max-width: 1280px;
  padding: 67px 15px 63px;
}

.btn {
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
}
.btn img {
  cursor: pointer;
}

.table {
  position: relative;
}

.table_wrapper {
  position: relative;
  height: 305px;
  overflow-y: scroll;
  padding-right: 6px;
}
.table_wrapper::-webkit-scrollbar {
  z-index: 999999999999999900000000000000000000 !important;
  background: rgba(217, 217, 217, 0.28);
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 5px;
}
.table_wrapper::-webkit-scrollbar-track {
  z-index: 999999999999999900000000000000000000 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.table_wrapper::-webkit-scrollbar-thumb {
  z-index: 999999999999999900000000000000000000 !important;
  background: radial-gradient(65.2% 65.2% at 60% 34.8%, #00ad8e 0.93%, #007a64 100%);
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer !important;
}
.table_wrapper::-webkit-scrollbar-button {
  display: none;
}

.text {
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.balance {
  width: 869px;
  height: 385px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

.btn_gragient {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Strong", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: url(../img/Header/btn_gragient.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 23px 15px;
  min-height: 55px;
  max-width: 300px;
}
.btn_gragient * {
  cursor: pointer;
}
.btn_gragient:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.mobile_line {
  display: none;
}

.table_container {
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}
.table_container .btn_gragient {
  margin-top: 47px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 67px;
}
.head .head_info {
  width: 675px;
  position: relative;
  z-index: 1;
}
.head .title {
  text-align: left;
}
.head .text {
  text-align: left;
  margin-top: 30px;
}
.head .head_info {
  text-align: left;
}
.head img {
  position: absolute;
  top: 0;
  right: 5%;
  width: 650px;
  height: 555px;
}

.overflow {
  overflow: hidden;
}